.emoji-search-input {
  border-bottom: 1px solid #ccc;
  margin-right: 10px;
  padding-right: 10px;
}
.emoji-search-input > div {
  margin-right: 10px;
  font-size: 32px;
  margin-bottom: 10px;
}
.emoji-search-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  margin: 0 5px;
}
